{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-no-empty": null,
    "at-rule-empty-line-before": null,
    "selector-type-no-unknown": null,
    "no-unsupported-browser-features": null,
    "declaration-block-no-ignored-properties": null,
    "rule-nested-empty-line-before": null,
    "declaration-block-no-duplicate-properties": null,
    "rule-non-nested-empty-line-before": null
  }
}
