Space above cards: <input type="number" [formControl]="topHeightCtrl">
<div [style.height.px]="topHeightCtrl.value"></div>
<div class="demo-autocomplete">
  <mat-card>
    Reactive length: {{ reactiveStates.length }}
    <div>Reactive value: {{ stateCtrl?.value | json }}</div>
    <div>Reactive dirty: {{ stateCtrl?.dirty }}</div>

    <mat-input-container floatPlaceholder="never">
      <input matInput placeholder="State" [matAutocomplete]="reactiveAuto" [formControl]="stateCtrl">
    </mat-input-container>

    <mat-card-actions>
      <button mat-button (click)="stateCtrl.reset()">RESET</button>
      <button mat-button (click)="stateCtrl.setValue(states[10])">SET VALUE</button>
      <button mat-button (click)="stateCtrl.enabled ? stateCtrl.disable() : stateCtrl.enable()">
        TOGGLE DISABLED
      </button>
    </mat-card-actions>

  </mat-card>

  <mat-card>

    <div>Template-driven value (currentState): {{ currentState }}</div>

    <!-- Added an ngIf below to test that autocomplete works with ngIf -->
    <mat-input-container *ngIf="true">
      <input matInput placeholder="State" [matAutocomplete]="tdAuto" [(ngModel)]="currentState"
        (ngModelChange)="tdStates = filterStates(currentState)" [disabled]="tdDisabled">
    </mat-input-container>

    <mat-card-actions>
      <button mat-button (click)="modelDir.reset()">RESET</button>
      <button mat-button (click)="currentState='California'">SET VALUE</button>
      <button mat-button (click)="tdDisabled=!tdDisabled">
        TOGGLE DISABLED
      </button>
    </mat-card-actions>

  </mat-card>
</div>

<mat-autocomplete #reactiveAuto="matAutocomplete" [displayWith]="displayFn">
  <mat-option *ngFor="let state of reactiveStates | async" [value]="state">
    <span>{{ state.name }}</span>
    <span class="demo-secondary-text"> ({{ state.code }}) </span>
  </mat-option>
</mat-autocomplete>

<mat-autocomplete #tdAuto="matAutocomplete">
  <mat-option *ngFor="let state of tdStates" [value]="state.name">
    <span>{{ state.name }}</span>
  </mat-option>
</mat-autocomplete>