<div>
  <p>
    Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.
  </p>

  <form (ngSubmit)="addName()" #scientistForm="ngForm">
    <div class="form-group">
      <input [(ngModel)]="newName" placeholder="Awesome Computer Scientist" name="name">
      <button type="submit">Add</button>
    </div>
  </form>


  <md-list>
    <md-list-item *ngFor="let name of nameListService.get() | async">{{name}}</md-list-item>
  </md-list>

  <md-card>
    <button md-button [disableRipple]="true">FLAT</button>
    <button md-raised-button [disableRipple]="true">RAISED</button>
    <button md-icon-button [disableRipple]="true">
   <md-icon class="md-24">favorite</md-icon>
</button>
    <button md-fab [disableRipple]="true">
   <md-icon class="md-24">add</md-icon>
</button>
    <button md-mini-fab [disableRipple]="true">
   <md-icon class="md-24">add</md-icon>
</button>
  </md-card>

  <md-card>
    <md-checkbox>Unchecked</md-checkbox>
    <md-checkbox [checked]="true">Checked</md-checkbox>
    <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
    <md-checkbox [disabled]="true">Disabled</md-checkbox>
  </md-card>

  <!--md-card>
    <form #slideForm="ngForm">
    <md-slide-toggle [(ngModel)]="slideToggleModel" name="name">
      Default Slide Toggle
    </md-slide-toggle>
    <md-slide-toggle disabled>
      Disabled Slide Toggle
    </md-slide-toggle>
    <md-slide-toggle>
      Input Binding
    </md-slide-toggle>
    </form>
  </md-card-->

  <md-card class="app-input-section">
    <md-input placeholder="First name"></md-input>

    <md-input #nickname placeholder="Nickname" maxlength="50">
      <md-hint align="end">
        {{nickname.characterCount}} / 50
      </md-hint>
    </md-input>

    <md-input>
      <md-placeholder>
        <i class="material-icons app-input-icon">android</i> Favorite phone
      </md-placeholder>
    </md-input>

    <md-input placeholder="Motorcycle model">
      <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
    </md-input>
  </md-card>

  <md-card>
    <md-spinner class="app-spinner"></md-spinner>
    <md-spinner color="accent" class="app-spinner"></md-spinner>
  </md-card>

  <md-card>
    <label>
        Indeterminate progress-bar
        <md-progress-bar
            class="app-progress"
            mode="indeterminate"
            aria-label="Indeterminate progress-bar example"></md-progress-bar>
      </label>
  </md-card>

  <md-card>
    <md-icon>build</md-icon>
  </md-card>

  <md-grid-list cols="4" [style.background]="'lightblue'">
    <md-grid-tile>One</md-grid-tile>
    <md-grid-tile>Two</md-grid-tile>
    <md-grid-tile>Three</md-grid-tile>
    <md-grid-tile>Four</md-grid-tile>
  </md-grid-list>

</div>