<div fxLayout='row' fxLayoutAlign="center center" >
<p>
  Angular Material Seed is a starter project that implements best practices in
  coding, building and testing Angular apps.
</p>

<h2>Features</h2>
<mat-list>
  <mat-list-item>Ready to go, statically typed build system using Gulp for working with TypeScript.</mat-list-item>
  <mat-list-item>Production and development builds.</mat-list-item>
  <mat-list-item>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</mat-list-item>
  <mat-list-item>End-to-end tests with Protractor.</mat-list-item>
  <mat-list-item>Development server with live reload.</mat-list-item>
  <mat-list-item>TypeScript definition management using Typings.</mat-list-item>
  <mat-list-item>Basic Service Worker, which implements "Cache then network strategy".</mat-list-item>
</mat-list>
</div>
