<div fxLayout='row' fxLayoutAlign="center center" >
<p>
  Angular Material Seed is a starter project that implements best practices in
  coding, building and testing Angular apps.
</p>

<h2>Features</h2>
<md-list>
  <md-list-item>Ready to go, statically typed build system using Gulp for working with TypeScript.</md-list-item>
  <md-list-item>Production and development builds.</md-list-item>
  <md-list-item>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</md-list-item>
  <md-list-item>End-to-end tests with Protractor.</md-list-item>
  <md-list-item>Development server with live reload.</md-list-item>
  <md-list-item>TypeScript definition management using Typings.</md-list-item>
  <md-list-item>Basic Service Worker, which implements "Cache then network strategy".</md-list-item>
</md-list>
</div>
