<mat-sidenav-container fxLayout="row">
  <!-- mat-sidenav #start>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['about']">About</a>
      <a mat-list-item [routerLink]="['demo']">Demo</a>
    </mat-nav-list>
    <button mat-button (click)="start.close()">CLOSE</button>
  </mat-sidenav -->

  <mat-toolbar>
    <!-- button mat-icon-button (click)="start.open()" color="primary">
        <mat-icon class="mat-24" >menu</mat-icon>
      </button -->
      <span>Angular 7 + Material 7</span>
  </mat-toolbar>

  <div fxLayout="row" 
    fxLayoutAlign="start center"
    fxLayoutGap="20px" 
    style="height:40px; min-height:40px;">
    <button mat-raised-button color="primary" [routerLink]="['about']">about</button>
    <button mat-raised-button color="primary" [routerLink]="['demo']">demo</button>
  </div>
</mat-sidenav-container>
<router-outlet></router-outlet>