<md-sidenav-container fxLayout="row">
  <md-sidenav #start>
    <md-nav-list>
      <a md-list-item [routerLink]="['about']">About</a>
      <a md-list-item [routerLink]="['demo']">Demo</a>
    </md-nav-list>
    <button md-button (click)="start.close()">CLOSE</button>
  </md-sidenav>

  <md-toolbar>
    <button md-icon-button (click)="start.open()" color="primary">
        <md-icon class="md-24" >menu</md-icon>
      </button>
      <span>Angular 4.0.0 + Material 2</span>
  </md-toolbar>

  <div fxLayout="row" 
    fxLayoutAlign="start center"
    fxLayoutGap="20px" 
    style="height:40px; min-height:40px;">
    <button md-raised-button color="primary" [routerLink]="['about']">about</button>
    <button md-raised-button color="primary" [routerLink]="['demo']">demo</button>
  </div>
</md-sidenav-container>
<router-outlet></router-outlet>